* {
    box-sizing: border-box;
}

li a{
    color: white;
}

p{
    font-size: 1.3em;
}

body {
    margin: 0;
    font-family: 'Abhaya Libre';
    font-size: 16px;
}

h1{
    color: #272981;
}

ul {
    list-style-type: none;
}

.normal-list{
    display: list-item !important;
}

li{
    display:inline;
    margin: 0px 10px;
}

.center{
    text-align: center;
}

.entire-screen {
    padding: 10px 10px;
    float: left;
    width: 100%;
}

.half-screen{
    padding: 10px 10px;
    float: left;
    width: 50%;
}

.third-screen{
    padding: 10px 10px;
    float: left;
    width: 33.333333333333333333333%;
}

.two-third-screen{
    padding: 10px 10px;
    float: left;
    width: 66.666666666666666666666%;
}

.quart-screen{
    padding: 10px 10px;
    float: left;
    width: 25%;
}

.fifteen-screen{
    padding: 10px 10px;
    float: left;
    width: 15%;
}

.dashboard-option{
    padding: 0px 0px !important;
    border: 1px solid black;
}

.seventy-screen{
    padding: 10px 10px;
    float: left;
    width: 70%;
}

.main-button{
    background-color: #272981;
    padding: 25px 25px;
    border: 1px solid #272981;
    border-radius: 25px;
    font-size: 1.6em;
    color: white;
    width: 260px;
    font-weight: lighter;
    cursor: pointer;
}

.half-screen .entire-screen{
    padding: 0;
    margin: 0;
}

.blue-theme{
    background-color: #272981;
    color: white;
}

@media screen and (max-width: 700px) {
    .half-screen{
        padding: 10px 10px;
        float: left;
        width: 100%;
    }
}

@media screen and (max-width: 934px) {
    .third-screen-screen{
        padding: 10px 10px;
        float: left;
        width: 50%;
    }
}

@media screen and (max-width: 462px) {
    .third-screen-screen{
        padding: 10px 10px;
        float: left;
        width: 100%;
    }
}

@media screen and (max-width: 1120px){
    .seventy-screen{
        padding: 10px 10px;
        float: left;
        width: 100%;
    }

    .fifteen-screen{
        padding: 10px 10px;
        float: left;
        width: 100%;
    }
}

.navbar {
    overflow: hidden;
    border-bottom: 1px solid #272981;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.right{
   text-align: right;
}

.left{
    text-align: left;
}

.right li{
    font-weight: bold;
    color: #272981;
    font-size: 1.5em;
}

.aside{
    background-image: url("/img/ErasmusPlus.png");
    height: 851px;
    width: 315px;
    float: right;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}


.form {
    border:2px solid rgb(211, 210, 210);
    height: 100%;
    margin:5% 5%;
    padding: 12px;
}

input[type=text], input[type=password], input[type=email],select {
    width: 90%;
    padding: 10px 22px;
    margin: 6px 2px;
    display: inline-block;
    border: 1px solid rgb(211, 210, 210);
}

button {
    background-color: rgb(0, 140, 255);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
}
span.pw {
    padding-top:28px;
    padding-right:2px;
    float: right;
}

.cancelbutton{
    width:45%;
}

.field-size {
    height: 71px;
    padding: 20px;
    text-align: right;
    font-size: 24px;
}

.center-vertically{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#add:hover,#remove:hover,#change:hover{
    background-color: #5e5e5e;
    cursor: pointer;
}

.hide{
    display: none;
}