
form {
    border:2px solid rgb(211, 210, 210);
    margin:5% 30%;
    padding: 12px;
}

input[type=text], input[type=password],select {
    width: 90%;
    padding: 10px 22px;
    margin: 6px 2px;
    display: inline-block;
    border: 1px solid rgb(211, 210, 210);
}

button {
    background-color: rgb(0, 140, 255);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
}
span.pw {
    padding-top:28px;
    padding-right:2px;
    float: right;
}

.cancelbutton{
    width:45%;
}

